table{
    
    text-align: center;
   border-collapse: collapse;

}
 th{
     color: black;
     padding: 5mm 10mm 5mm 10mm;
     background-color: rgb(255, 106, 106);
     font-size: 23px;


 }
 td{
     font-size: 19px;
     color: black;
     padding: 5mm 0mm 5mm 0mm;
    }
 tr{
     background-color: rgb(255, 194, 194);
     transition-duration: 0.3s;
    }
 tr:nth-child(even)
  {
     background-color: #f2f2f2;
  }
  tr:hover{
      
      background-color: rgb(187, 233, 181);
         }

  